@model DepartmentRegisterForm
@{
    ViewData["Title"] = "部門登録(完了)";
}
<h3 class="card-title">部門登録(完了)</h3>
<br>
<h4 class="card-text">以下の内容を登録完了しました。</h4>
<br>
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td class="bg-dark text-light" width="60">
                <label asp-for="Name"></label>
            </td>
            <td width="180">
                @Model.Name
            </td>
        </tr>
    </tbody>
</table>
<form>
    <div class="d-flex justify-content-center gap-4">
        <button type="submit"
                asp-action="Enter"
                class="btn btn-primary btn-lg" name="Index">
            入力
        </button>
        <button type="submit"
                asp-action="Menu"
                class="btn btn-success btn-lg" name="Menu">
            メニュー
        </button>
    </div>
</form>