@model DepartmentRegisterForm
@{
    ViewData["Title"] = "部門登録(入力)";
}

<h3 class="card-title">部門登録(入力)</h3>
<br />
<h4 class="card-text">部門情報を入力して下さい。</h4>

<!-- 確認用フォーム -->
<form asp-action="Confirm" method="post">
    <div asp-validation-summary="All" class="alert-danger" role="alert"></div>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="Name"></label>
                </td>
                <td width="180">
                    <input asp-for="Name" class="form-control" type="text" />
                </td>
            </tr>
        </tbody>
    </table>

    <br />

    <div class="d-flex justify-content-center gap-4">
        <button type="submit" class="btn btn-primary btn-lg">確認</button>

        <!-- メニューボタンをリンクに変更 -->
        <a asp-action="Menu" class="btn btn-success btn-lg">メニュー</a>
    </div>
</form>


