@model EmployeeRegisterForm
@{
    ViewData["Title"] = "社員登録(完了)";
}
<h3 class="card-title">社員登録(完了)</h3>
<br>
<h4 class="card-text">以下の内容を登録完了しました。</h4>
<br>
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td class="bg-dark text-light" width="60">
                <label asp-for="Name"></label>
            </td>
            <td width="180">
                @Model.Name
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-light" width="60">
                <label asp-for="DepartmentName"></label>
            </td>
            <td width="180">
                @Model.DepartmentName
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-light" width="60">
                <label asp-for="Phone"></label>
            </td>
            <td width="180">
                @Model.Phone
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-light" width="60">
                <label asp-for="Email"></label>
            </td>
            <td width="180">
                @Model.Email
            </td>
        </tr>
    </tbody>
</table>
<form>
    <div style="display: inline-flex;">
        <button type="submit"
                asp-action="Enter"
                class="btn btn-primary btn-lg m-3" name="Index">
            入力
        </button>
        <button type="submit"
                asp-action="Menu"
                class="btn btn-success btn-lg m-3" name="Menu">
            メニュー
        </button>
    </div>
</form>

