@model EmployeeRegisterForm
@{
    ViewData["Title"] = "社員登録(確認)";
}
<h3 class="card-title">社員登録(確認)</h3>
<br>
<h4 class="card-text">以下の内容で登録します。</h4>
<br>
<form method="post">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="Name"></label>
                </td>
                <td width="180">
                    @Model.Name
                </td>
            </tr>
            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="DepartmentName"></label>
                </td>
                <td width="180">
                    @Model.DepartmentName
                </td>
            </tr>
            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="Phone"></label>
                </td>
                <td width="180">
                    @Model.Phone
                </td>
            </tr>
            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="Email"></label>
                </td>
                <td width="180">
                    @Model.Email
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <input type="hidden" asp-for="DepartmentId" />
        <input type="hidden" asp-for="DepartmentName" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="Phone" />
        <input type="hidden" asp-for="Email" />
    </div>
    <div style="display: inline-flex;">
        <button type="submit"
                asp-action="Register"
                class="btn btn-primary btn-lg m-3" name="Register">
            登録
        </button>
        <button type="submit"
                asp-action="ReEnter"
                class="btn btn-secondary btn-lg m-3" name="ReEnter">
            戻る
        </button>
        <button type="submit"
                asp-action="Menu"
                class="btn btn-success btn-lg m-3" name="Menu">
            メニュー
        </button>
    </div>
</form>
