@model EmployeeRegisterForm
@{
    ViewData["Title"] = "社員登録(入力)";
}

<h3 class="card-title">社員登録(入力)</h3>
<br>
<h4 class="card-text">社員情報を入力して下さい。</h4>
<form method="post">
    <div asp-validation-summary="All" class="alert-danger" role="alert"></div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="Employee.Name"></label>
                </td>
                <td width="180">
                    <input asp-for="Employee.Name" class="form-control" type="text" />
                </td>
            </tr>

            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="Employee.Department.Name"></label>
                </td>
                <td width="180">
                    <select name="DeptId" size="1" class="form-control">
                        @foreach (var department in Model.Departments!)
                        {
                            @if (Model != null)
                            {
                                @if (Model.Employee != null 
                                && Model.Employee.Department != null 
                                && Model.Employee.Department.Id == department.Id)
                                {
                                    <option value="@department.Id" selected="selected">@department.Name</option>
                                }
                                else
                                {
                                    <option value="@department.Id">@department.Name</option>
                                }
                            }
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="Employee.Phone"></label>
                </td>
                <td width="180">
                    <input asp-for="Employee.Phone" class="form-control" type="text" />
                </td>
            </tr>
            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="Employee.Email"></label>
                </td>
                <td width="180">
                    <input asp-for="Employee.Email" class="form-control" type="text" />
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="hidden" asp-for="Employee.Id">
    <button type="submit" class="btn btn-primary btn-lg">確認</button>
</form>
