@model EmployeeRegisterForm
@{
    ViewData["Title"] = "社員登録(入力)";
}
<h3 class="card-title">社員登録(入力)</h3>
<br>
<h4 class="card-text">社員情報を入力して下さい。</h4>
<form method="post">
    <div asp-validation-summary="All" class="alert-danger" role="alert"></div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="Name"></label>
                </td>
                <td width="180">
                    <input asp-for="Name" class="form-control" type="text" />
                </td>
            </tr>

            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="DepartmentId"></label>
                </td>
                <td width="180">
                    <select asp-for="DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control">
                        <option value="">--選択してください--</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="Phone"></label>
                </td>
                <td width="180">
                    <input asp-for="Phone" class="form-control" type="text" />
                </td>
            </tr>
            <tr>
                <td class="bg-dark text-light" width="60">
                    <label asp-for="Email"></label>
                </td>
                <td width="180">
                    <input asp-for="Email" class="form-control" type="text" />
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <button type="submit" asp-action="Confirm" class="btn btn-primary btn-lg">確認</button>
    <button type="submit" asp-action="Menu" class="btn btn-success btn-lg">メニュー</button>
</form>
