<div class="text-center">
    <table class="table table-borderless table-sm">
        <tr>
            <td><a asp-controller="Menu" asp-action="exercise" asp-route-no="1" class="btn btn-primary"><h4>部署一覧</h4></a></td>
            <td><a asp-controller="Menu" asp-action="exercise" asp-route-no="2" class="btn btn-primary"><h4>部署登録</h4></a></td>
        </tr>
        <tr>
            <td><a asp-controller="Menu" asp-action="exercise" asp-route-no="3" class="btn btn-primary"><h4>社員一覧</h4></a></td>
            <td><a asp-controller="Menu" asp-action="exercise" asp-route-no="4" class="btn btn-primary"><h4>社員登録</h4></a></td>
        </tr>
    </table>
</div>
