<!-- メニュー画面は画像のみ -->
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <img src="~/img/WebAppExercise.png" alt="メニュー図" class="img-fluid shadow" style="max-width: 90%; height: auto;" />
</div>
